<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="background:#fafafa;">
            <h4>Sample Assets:</h4>
            <button class="btn btn-secondary" (click)="currentId = 'ARTSTOR_103_41822003761960'; isEncrypted = false">Basquiat (IIIF)</button>
            <button class="btn btn-secondary" (click)="currentId = 'AGUGGENHEIMIG_10313463703'; isEncrypted = false">Portrait Image (IIIF)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS7729485_7729485_25712578'; isEncrypted = false">Slab City (Kaltura)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS34216_34216_38871584'; isEncrypted = false">Audio (Kaltura)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS34216_34216_38536370'; isEncrypted = false">Converted panorama (Pano)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS34216_34216_39583352'; isEncrypted = false">Doc (Thumbnail)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS35494_35494_39230723'; isEncrypted = false">Compound Object (Multi View)</button>
            <button class="btn btn-secondary" (click)="currentId = 'SS34216_34216_39230202'; isEncrypted = false">Compound Object (Sample U)</button>
            <button class="btn btn-secondary" (click)="currentId = '8DtZYyMmJloyLyw5ej1/Rnwu'; isEncrypted = true">Kress (Encrypted ID/IIIF)</button>
            <hr/>
            <h4>Options:</h4>
            <button class="btn btn-secondary" (click)="useThumbnail = !useThumbnail" style="display: block; margin-top: 15px;">Forced Thumbnail Mode: {{ useThumbnail }}</button> 
            <button class="btn btn-secondary" (click)="testEnv = !testEnv" style="display: block; margin-top: 15px;">Test Environment: {{ testEnv }}</button>  
            <button class="btn btn-secondary" (click)="legacyFlag = !legacyFlag" style="display: block; margin-top: 15px;">Legacy Flag: {{ legacyFlag }}</button> 
            <hr/>
            <h4>Actions:</h4>
            <a class="btn btn-secondary" [attr.href]="downloadLink" download>Download Asset</a>
        </div>
        <div class="col-md-8">
            <h4>Viewer:</h4>
            <artstor-viewer *ngIf="userHasSession" [assetId]="currentId" [thumbnailMode]="useThumbnail" [encrypted]="isEncrypted" [testEnv]="testEnv" [legacyFlag]="legacyFlag" (assetMetadata)="handleLoadedMetadata($event)"></artstor-viewer>
        </div>
    </div>
</div>
