body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

h1 {
  color: #369;
  font-size: 250%;
}

h4 {
  margin-top: 1em !important;
}

.btn .icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.btn-secondary {
  margin-bottom: 3px;
}

.btn.btn--icon {
  position: relative;
  cursor: pointer;
  border-radius: 0px;
  height: 30px;
  width: 30px;
  margin: 0;
  background: rgba(255,255,255,0.98);
  color: #333;
  box-shadow: none;
  padding: 0px;
  text-align: center;
  border: none;
}

.icon-zoom-out {
  background-image: url(//library.artstor.org/assets/img/icon-zoom-out.svg);
}

.icon-zoom-in {
  background-image: url(//library.artstor.org/assets/img/icon-zoom-in.svg);
}

.icon-fit {
  background-image: url(//library.artstor.org/assets/img/icon-fit.svg);
}

.icon-fullscreen {
  background-image: url(//library.artstor.org/assets/img/icon-fullscreen.svg);
}

.referencestrip {
  position: absolute !important;
  bottom: 0px !important;
  height: 200px !important;
  min-width: 500px !important;
  width: 100% !important;
  display: block !important;
  float: none !important;
  margin: 0px !important;
  opacity: 1 !important;
  white-space: nowrap !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  touch-action: auto !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.referencestrip::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#referencestrip > div {
  /* background: rgb(153, 153, 153) */
  background: rgb(0,0,0) !important;
  padding: 0px !important;
  margin: 0px 5px !important;
}

.referencestrip > div[style^="background: rgb(153, 153, 153)"] {
  /* background: #000 !important; */
}
.referencestrip > div[style^="background: rgb(153, 153, 153)"] canvas {
  border: 2px solid #C9510D !important;
  padding: 0px !important;
}

.referencestrip::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.7);
  width: 5px;
}

/* Select BOTTOM LEFT positioning div */
.openseadragon-canvas + div + div + div + div {
  position: static !important;
}

.referencestrip > div {
  background: #000 !important;
  border: 2px solid transparent !important;
  margin: 0px 5px !important;
  display: inline-block !important;
  float: none !important;
  height: 180px !important;
  width: 150px !important;
  position: relative !important;
  touch-action: auto !important;
  padding: 60px 0px 0px 0px !important;
}

.navigator {
  position: absolute !important;
  bottom: 120px !important;
  z-index: 1 !important;
  left: 10px !important;
  border: 3px solid rgb(0,0,0) !important;
  opacity: 0.95;
}

[class$="-displayregion"] {
  border: 2px solid rgb(224, 11, 11) !important;
}