body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

h1 {
  color: #369;
  font-size: 250%;
}

h4 {
  margin-top: 1em !important;
}

.btn .icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.btn-secondary {
  margin-bottom: 3px;
}

.btn.btn--icon {
  position: relative;
  cursor: pointer;
  border-radius: 0px;
  height: 30px;
  width: 30px;
  margin: 0;
  background: rgba(255,255,255,0.98);
  color: #333;
  box-shadow: none;
  padding: 0px;
  text-align: center;
  border: none;
}

.icon-zoom-out {
  background-image: url(//library.artstor.org/assets/img/icon-zoom-out.svg);
}

.icon-zoom-in {
  background-image: url(//library.artstor.org/assets/img/icon-zoom-in.svg);
}

.icon-fit {
  background-image: url(//library.artstor.org/assets/img/icon-fit.svg);
}

.icon-fullscreen {
  background-image: url(//library.artstor.org/assets/img/icon-fullscreen.svg);
}

.referencestrip {
  position: absolute !important;
  bottom: 0px !important;
  height: 100px !important;
  min-width: 500px !important;
  width: 100% !important;
  display: block !important;
  float: none !important;
  margin: 0px !important;
  opacity: 1 !important;
  white-space: nowrap !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  touch-action: auto !important;
}

.referencestrip::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.referencestrip::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.referencestrip > div {
  display: inline-block !important;
  float: none !important;
  height: 100px !important;
  width: 100px !important;
  position: relative !important;
  touch-action: auto !important;
}